<div class="page">

  <h1>Update : <%= @task_update.title %></h1>

  <%= form_for update_action_path(@task_update), html: { class: "page" } do |f| %>
  <%= f.label "Title" %>
  <%= f.text_field :title, value: @task_update.title %>
  <%= f.label "Details" %>
  <%= f.text_field :details, value: @task_update.details %>
  <%= f.submit "Update Task", class: "button" %>
  <% end %>
  <%= link_to "Go back to show page", show_path, class: "button" %>


</div>
