<div class="page">

  <h1>Update Task</h1>

  <%= form_for @task, html: { class: "form-task-create page" } do |f| %>
  <%= f.label "Title" %>
  <%= f.text_field :title %>
  <%= f.label "Details" %>
  <%= f.text_field :details %>
  <%= f.submit "Update Task", class: "button" %>
  <% end %>
  <%= link_to "Go back to Tasks page", tasks_path %>


</div>
